---
layout: default
title: About
---

<div class="flex flex-col items-center text-lg">
    <div class="text-center mt-8">
        <h1 class="text-6xl font-medium text-gray-800 mt-0">About</h1>
        <p class="mt-3">{{ author.description }}</p>
        <p class="mt-3">This is an <a href="https://github.com/NMF-earth">open source</a> project by <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a> team. Submit a website <a href="https://nmf-earth.typeform.com/to/W31N8wfc">here</a>.</p>
    </div>
</div>